/* from reset */
::-webkit-scrollbar-track {
    background: 0 0;
}

::-webkit-scrollbar-thumb {
    background: var(--tertiary);
    border: 5px solid var(--theme);
    border-radius: var(--radius);
}

:root:not([data-theme]) .list::-webkit-scrollbar-thumb,
[data-theme="light"] .list::-webkit-scrollbar-thumb {
    border: 5px solid var(--code-bg);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary);
}

::-webkit-scrollbar:not(.highlighttable, .highlight table, .gist .highlight) {
    background: var(--theme);
}

/* from post-single */
.post-content .highlighttable td .highlight pre code::-webkit-scrollbar {
    display: none;
}

.post-content :not(table) ::-webkit-scrollbar-thumb {
    border: 2px solid var(--code-block-bg);
    background: var(--tertiary);
}

.post-content :not(table) ::-webkit-scrollbar-thumb:hover {
    background: var(--secondary);
}

.gist table::-webkit-scrollbar-thumb {
    border: 2px solid var(--theme);
    background: var(--tertiary);
}

.gist table::-webkit-scrollbar-thumb:hover {
    background: var(--secondary);
}

.post-content table::-webkit-scrollbar-thumb {
    border-width: 2px;
}

/* from zmedia */
@media screen and (min-width: 768px) {

    /* reset */
    ::-webkit-scrollbar {
        width: 19px;
        height: 11px;
    }
}
